// chats need a bit of css

body.page-user-chats {
	> #panel {
		height: 100%;
		> div {
			height: 100%;
			> div {
				height: 100%;
				padding-bottom: 0px!important;
				> #content {
					height: 100%;
					.chats-full {
		 				padding-top: 0!important;
					}
				}
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.page-user-chats #content {
		padding-top: 0!important;
	}
}

.page-user-chats.chat-loaded {
	.navbar {
		display: none!important;
	}
}
