@use "pkg:@fontsource-utils/scss" as fontsource;
@use "pkg:@fontsource/roboto/scss" as roboto;


$weights: $font-weight-light, $font-weight-normal, $font-weight-semibold, $font-weight-bold;
$subsets: (latin, latin-ext);
$font-path: "./plugins/nodebb-theme-peace" !default;

@include fontsource.faces(
	$metadata: roboto.$metadata,
	$weights: $weights,
	$subsets: $subsets,
	$styles: all,
	$directory: "#{$font-path}/roboto"
);

