@import "./sidebar";
@import "./chats.scss";
@import "./nprogress.scss";

html {
	overflow-y: scroll;
}
body.skin-noskin {
	background-color: $gray-100;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

#content, .footer {
	transition: opacity 150ms linear;
	&.ajaxifying {
		-moz-opacity: 0;
		opacity: 0;
	}
}

.tag-item {
	background-color: #808080;
	color: white;
	&:hover {
		color:white;
	}
}

// fix for quartz skin, backdrop-filter breaks layout and
// post tools dropdowns go behind the card of the next post
// https://github.com/thomaspark/bootswatch/issues/1199
.skin-quartz {
	[component="post"] .card {
		backdrop-filter: none!important;
	}

	.tool-modal .dropdown-menu, .composer .dropdown-menu {
		backdrop-filter: none!important;
		background-color: $body-bg;
		color: $body-color;
	}
}

// topic & post selection outline
.topic-list li.selected .card,
.posts li.selected .card {
	outline: 2px solid $success;
}
.topic-list-header {
	position: static;
}

// unread bar on topic list
.topic-list {
	.category-item {
		.unread-bar { width: 3px; right: 0px; }
		&.unread .unread-bar {
			background-color: $info;
		}
	}
}

// deleted posts in topic
.topic .posts {
	> li.deleted {
		.content {
			opacity: 0.3;
		}
		.votes {
			display:none;
		}
	}
	.highlight .card {
		transition: 0.75s ease-in-out border-color;
		border-color: $info;
	}
}

// topic sidebar sticky-top, change based on viewport
@include media-breakpoint-down(lg) {
	#topic-sidebar {
		top: 6.0rem;
	}
}
@include media-breakpoint-up(md) {
	#topic-sidebar { top: 1.5rem; }
}

// block quote :dull
blockquote {
	border-left: 5px solid $body-color;
	margin-left: $spacer;
	padding-left: $spacer;
}
.post-content {
	> blockquote {
		> blockquote {
			> *:not(.blockquote) {
				display: none;
			}
		}

		> blockquote.uncollapsed {
			> *:not(.blockquote) {
				display: block;
			}
		}
	}
}

// only show breadcrumbs on category page
.breadcrumb {
	display: none;
}
.page-category .breadcrumb {
	display: flex;
}

// no taskbar
.taskbar { display: none }


// like button toggle
.post-footer [component="post/upvote"] {
	.fa-heart-o { display: inline-block; }
	.fa-heart { display: none; }
	&.upvoted {
		.fa-heart-o { display: none; }
		.fa-heart { display: inline-block; color: $red; }
	}
}

// copied from persona for navigator
.scroller-container {
	height: 300px;
	border-left: 3px solid $border-color;
	margin-left: 6px;
	cursor: pointer;
	.scroller-thumb {
		height: 40px;
		position: relative;
		left: -6px;
		padding-right: 0px;
		margin-right: -15px;

		.scroller-thumb-icon {
			width: 9px;
			height: 40px;
			background-color: $primary;
			position: relative;
			display: inline-block;
			border-radius: 3px;
		}
		.thumb-text {
			font-weight: bolder;
			user-select: none;
			position: relative;
			top: -15px;
			padding-left: 10px;
		}
	}
}

.account .categories {
	[component="categories/category"] {
		.depth-1 {
			padding-left: 50px;
		}
		.depth-2 {
			padding-left: 100px;
		}
		.depth-3 {
			padding-left: 150px;
		}
		.depth-4 {
			padding-left: 150px;
		}
	}
}
