@import "./sidebar";

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}


#content, .footer {
	transition: opacity 150ms linear;

	&.ajaxifying {
		-moz-opacity: 0;
		opacity: 0;
	}
}

.tag-item {
	background-color: #808080;
	color: white;
}

// fix for quartz skin, backdrop-filter breaks layout and
// post tools dropdowns go behind the card of the next post
// https://github.com/thomaspark/bootswatch/issues/1199
[component="post"] .card {
	backdrop-filter: none!important;
}


// topic selection on topics_list
.topic-list li {
	&.selected {
		.card {
			outline: 2px solid $success;
		}
	}
}

// only show breadcrumbs on category page
.breadcrumb {
	display: none;
}
.page-category .breadcrumb {
	display: flex;
}