// sidebars.css
.dropdown-toggle { outline: 0; }

.btn-toggle {
	padding: .25rem .5rem;
	font-weight: 600;
	background-color: transparent;
}

.btn-toggle-nav>li>a {
	padding: .1875rem .5rem;
	margin-top: .125rem;
	margin-left: 1.25rem;
}

